<h2>Edit Item <%= @item.id %></h2>

<form action="/items/<%= @item.id %>" method="POST">
	<input type="hidden" name="_method" value="PATCH" />
	<input type="text" size="75" name="title" placeholder="Enter new value for item <%= @item.id %>" value="<%= @item.title %>" />
	<button>Update Item</button>
</form>