<!DOCTYPE html>
<html>
<head>
	<title> <%= @page %> </title>
</head>
<body>
		<h1 style="border: 1px solid blue; border-radius: 10px">Awesome Item App (this h1 is in hello.erb)</h1>

		<%= yield %>

		<small>Thanks for using this site. This "footer" is in the main
  layout.erb and will appear on all pages. © 2018 no one.</small>

</body>
</html>