body {
	background-color: #f36;
}

/*session message*/
p.msg {
	background: lightgreen;
	color: brown;
	border: 1px solid black;
}

/* from form.erb: be sure to add this class to that form while you're deleting the inline style */
.form-partial {
	border: 1px solid red; 
	border-radius: 4px; 
}

/* style the h1 in layout.erb */
h1#app-name {
	border: 1px solid blue; 
	border-radius: 10px;
}
nav p {
	display: inline-block;
}

/* from hello.erb and/or item_index.erb and/or add_item.erb */
h2 {
	border: 1px solid brown; 
	border-radius: 5px;
}